div {
  background: #0a0c0d;
}
a {
  background-color: black;
  color: white !important;
  display: flex;
  align-items: center;
  flex-direction: row;
  padding: 0.3rem;
  font-size: 0.75rem;
  outline: none !important;
}

i {
  font-size: 1.5em;
  padding: 0;
}
a:hover {
  text-decoration: none;
}
.active {
  border-bottom: 1px solid white;
}
