<div class="d-flex flex-column p-5 content-desc justify-content-center">
  <h1 class="text-uppercase xl-text">Arnav Vats</h1>
  <h4>Creative Programmer.</h4>
  <p class="fg-grey">I build quality applications and like to solve problems.</p>
  <br>
  <p class="mb-0">A quick look at my interests:</p>
  <p class="fg-grey">FullStack Web Development, Machine Learning , Event Organization</p>
  <p class="text-uppercase mt-2 font-weight-bold l-text"><a class="text-white" routerLink="/"><i class="fa fa-location-arrow"></i> &nbsp;Take a tour  </a></p>
  <p><a href="assets/ArnavCV.pdf" class="text-white "><i class="fa fa-file-o"></i> &nbsp;C.V.</a></p>
  <p><a class="text-white" href="mailto:arnavvats97@gmail.com"> <i class="fa fa-envelope-o"></i>&nbsp; arnavvats97@gmail.com</a></p>
  <ul class=" list-unstyled list-inline fa-3x">
    <li class="list-inline-item bg-none border-0" ><a class="text-white" href="https://linkedin.com/in/arnavvats" target="_blank"><i class="fa fa-linkedin-square"></i></a></li>
    <li class="list-inline-item bg-none border-0"> <a class="text-white" href="https://github.com/arnavvats" target="_blank"> <i class="fa fa-github" ></i> </a></li>
    <li class="list-inline-item bg-none border-0"><a class="text-white" href="https://hackerrank.com/arnavvats" target="_blank"><img src="assets/images/hackerrank-logo.svg" class="img-fluid h-1em im-white"></a>  </li>
    <li class="list-inline-item bg-none border-0"> <a class="text-white" href="https://kaggle.com/arnavvats" target="_blank"><img src="assets/images/Kaggle_logo.png" class="img-fluid h-1em im-white"></a>  </li>

  </ul>
</div>
